<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cart</title>
    <link rel="stylesheet" href="../styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {{!-- <script src="./jquery.js"></script> --}}
   </head>
<body style="background-color: #333333;">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="row bootstrap snippets hi">
    <div class="col-lg-9 col-md-9 col-sm-12 container_table">
        <div class="col-lg-12 col-sm-12">
            <span class="title">SHOPPING CART</span>
        </div>
        <div class="col-lg-12 col-sm-12 hero-feature cart_data">
            <div class="table-responsive">
                <table class="table table-bordered tbl-cart">
                    <thead>
                        <tr>
                            <td class="hidden-xs">Image</td>
                            <td>Product Name</td>
                            <td>Category</td>
                            <td>Offer</td>
                            <td>Unit Price</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td class="hidden-xs">
                                <a href="#">
                                    <img src="{{this.imgpath}}" alt="Age Of Wisdom Tan Graphic Tee" title="" width="47" height="47">
                                </a>
                            </td>
                            <td><a href="#">{{this.name}}</a>
                            </td>
                            <td>{{this.category}}</td>
                            <td>
                                {{this.offer}}
                            </td>
                            <td>
                                {{this.price}}
                            </td>
                            <td class="text-center">
                                <a href="#" class="remove_cart" rel="2">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                         <tr>
                            <td colspan="4" align="right">Total</td>
                            <td class="total" colspan="2"><b>$ 163.47</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-group btns-cart">
                <a href="../firstpage.html"<button type="button" class="btn shop_btn"><i class="fa fa-arrow-circle-left"></i> Continue Shopping</button></a>
                <button type="button" class="btn btn-primary">Checkout <i class="fa fa-arrow-circle-right"></i></button>
            </div>
        </div>
    </div>
</div>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>