<html>
	<head>
		<title>
			items
		</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="./jquery.js"></script>
	</head>
	<body>
		<script>
			function get_offer(){
				if(document.getElementById('offer_1').checked) { 
					var offer = new Object();
					offer[0]=0;
					offer[1]=10;
					return offer;
				}
				if(document.getElementById('offer_2').checked) { 
					var offer = new Object();
					offer[0]=10;
					offer[1]=20;
					return offer;
				}
				if(document.getElementById('offer_3').checked) { 
					var offer = new Object();
					offer[0]=20;
					offer[1]=30;
					return offer;
				}
				if(document.getElementById('offer_4').checked) { 
					var offer = new Object();
					offer[0]=30;
					offer[1]=40;
					return offer;
				} 
			}
			function get_Filters(){
			var offer = get_offer();
			var min = document.getElementsByName("min")[0].value;
			var max = document.getElementsByName("max")[0].value;
			var category = location.search.split("=")
			var category=category[category.length-1]
			location.href="/filter_products?min="+min+"&max="+max+"&offer1="+offer[0]+"&offer2="+offer[1]+"&category="+category;
			}
		</script>
		<div class="nav-bar">	
			<ul class="main-nav">
					<li><a href="../firstpage.html" >Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="./cart.html">Cart</a></li>
			</ul>
		</div>
		
		<div class="screen1 left">
			<p align="center">FILTERS</p>
			<p class="filter_text">Price</p>
			<div>
				<input type="number" name="min" min="10" max="100000" value="100" placeholder="min" style="margin-left:10%">
				<input type="number" name="max" min="10" max="100000" value="100000" placeholder="max">
			</div>
			<div class="dropdown">
				<p>Offer</p>
				<input type="radio" id="offer_1" name="offer">
				<label for="offer_1">< 10%</label><br>
				<input type="radio" id="offer_2" name="offer">
				<label for="offer_2">10% - 20%</label><br>
				<input type="radio" id="offer_3" name="offer">
				<label for="offer_3">20% - 30%</label><br>
				<input type="radio" id="offer_4" name="offer">
				<label for="offer_4">> 40%</label><br>
			</div>
			<a href="#" onclick="get_Filters()">Filter</a>
		</div>
		<div class="screen1 right">
			{{#each data}}
			<div class="flip-card">
 			 	<div class="flip-card-inner">
    				<div class="flip-card-front">
      					<img src={{this.imgpath}} alt="Avatar" class="img_card">
						<h4><b>{{this.name}}</b></h4>
					</div>
    				<div class="flip-card-back">
      					<h4><b>{{this.name}}</b></h4> 
						<p>Category : {{this.category}}</p>
						<p>Price : {{this.price}}</p>
						<p>Offer : {{this.offer}}%</p>
						<p>Description : {{this.description}}</p>
						<button class="button_add">Add to Cart</button>
					</div>
				</div>
  			</div>
			{{/each}}
		</div>
	</body>
</html>









