<html>
    <head>
        <title>Cards</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles.css">
		<script src="./jquery.js"></script>
    </head>
    <body>
	<script>
			function get_offer(){
				if(document.getElementById('offer_1').checked) { 
					var offer = new Object();
					offer[0]=0;
					offer[1]=10;
					return offer;
				}
				if(document.getElementById('offer_2').checked) { 
					var offer = new Object();
					offer[0]=10;
					offer[1]=20;
					return offer;
				}
				if(document.getElementById('offer_3').checked) { 
					var offer = new Object();
					offer[0]=20;
					offer[1]=30;
					return offer;
				}
				if(document.getElementById('offer_4').checked) { 
					var offer = new Object();
					offer[0]=30;
					offer[1]=40;
					return offer;
				}
				offer=[0,100];
				return offer; 
			}
			function get_Filters(){
			var offer = get_offer();
			var min = document.getElementsByName("min")[0].value;
			var max = document.getElementsByName("max")[0].value;
			var category = location.search.split("=")
			var category=category[category.length-1]
			location.href="/filter_products?min="+min+"&max="+max+"&offer1="+offer[0]+"&offer2="+offer[1]+"&category="+category;
			}
			function AddToCart(value){
				console.log(value)
				const data = {
					userId: localStorage.getItem("userid"),
					productId: value
				}
				$.ajax({
				url: "/addtocart",
				type:"POST",
				dataType: "json",
				contentType: "application/json",
				data: JSON.stringify(data),
				success: function (res) {
					console.log(res)
				},
				error: function(err) {
					console.log(err)
					return false
				}
			})
			}
		</script>
		<div class="nav-bar">	
			<ul class="main-nav">
					<li><a href="../firstpage.html" >Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Help</a></li>
					<li><a href="./cart.html">Cart</a></li>
			</ul>
		</div>
		<div class="screen1 left">
			<p align="center">FILTERS</p>
			<p class="filter_text">Price</p>
			<div>
				<input type="number" name="min" min="10" max="100000" value="100" placeholder="min" style="margin-left:10%">
				<input type="number" name="max" min="10" max="100000" value="100000" placeholder="max">
			</div>
			<div class="dropdown">
				<p>Offer</p>
				<input type="radio" id="offer_1" name="offer">
				<label for="offer_1">< 10%</label><br>
				<input type="radio" id="offer_2" name="offer">
				<label for="offer_2">10% - 20%</label><br>
				<input type="radio" id="offer_3" name="offer">
				<label for="offer_3">20% - 30%</label><br>
				<input type="radio" id="offer_4" name="offer">
				<label for="offer_4">> 40%</label><br>
			</div>
			<a href="#" onclick="get_Filters()">Filter</a>
		</div>
		
        <div class="screen1 right">
        <div class="container">
			{{#each data}}
			<div
                class="card"
                data-tilt
                data-tilt-maz="30"
                data-tilt-glare
                dtat-tilt-max-glare="0.55"
            >
                <div class="img-container">
                    <img
                        class="shoe"
                        src={{this.imgpath}} 
						alt=""    
                    />
                </div>
				<div>
                <div class="category">
                        <div class="sub-head">{{this.category}}</div>
                        {{this.name}}
                </div>
                <div class="description">Price : {{this.price}}<br>Offer : {{this.offer}}%<br>Description : {{this.description}}</div>
                
				</div>
				<div>
					<a href="#">
                    	<button onclick="AddToCart('{{this.id}}')" class="add_to_cart">Add to Cart</button>
                	</a>
				</div>
            </div>
			{{/each}}
        </div>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js"></script>

    </body >
</html>


